@import "tailwindcss";

.space-grotesk-uniquifier {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.scrollbar-hide {
  scrollbar-width: none;
}
